<div class="infoCard">
   <img src="{{image}}" onerror="this.style.padding='233px 6px 0'" alt="{{name}}" class="imgView" title="{{name}}">
   <div class="lvlAtt">
      <div class="levelView" id="levelView">
         <img src="/image/stars/{{level}}.png" id="starLevel" alt="level">
      </div>
      <div class="attributeView">
         <img src="/image/attributes/{{attribute}}.png" alt="Attribute" id="imgAttributeCard">
      </div>
   </div>
   
   <div class="atkDef">
      <div class="attackView">{{attack}}</div>
      <div class="defenseView">{{defense}}</div>
   </div>

   <div class="cardHeader {{type}}">
      <h2 class="cardName">{{name}}</h2>
      <p class="cardType" value="{{type}}"> {{type}} |
         <img src="/image/types/{{type}}.png" alt="{{type}}" title="{{type}}">
      </p>
   </div>
</div>

<div class="viewAuthor">
   Criado por: <b>{{author}}</b>
</div>